# DBeaver Stuff
.dbeaver/
.project
.settings

# Other stuff
**/.DS_Store
.idea
obj
bin
.vs/
.env

# Front-end build stuff
node_modules
yarn-error.log

src/Gamestak/wwwroot/dist
src/gamestak-client/dist
