@import 'util/styles/ivms-vars.scss';

.dashboardpage {
  display: flex;
  justify-content: space-between;
  &_left {
    flex: 1;
    padding-right: 1rem;
  }

  &_right {
    flex: 1;
    padding-left: 1rem;
  }

  &_card {
    background-color: white;
    box-shadow: 3px 6px 12px rgba(0,0,0,0.16);
    padding: 2rem;
    margin-top: 2rem;
    height: 100%;

    &_header {
      display: flex;
      justify-content: space-between;
    }

    &_body.volunteermetrics {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
    }

    &_body.upcomingopportunities {
      padding-top: 2rem;

      .upcomingopportunities {
        &_row {
          display: flex;
          align-items: center;
        }
        &_date {
          display: flex;
          align-items: center;
          color: $gray-500;
          svg {
            margin-right: .5rem;
          }
        }
      }
    }
  }
}